<header data-sly-use.header="com.axamit.axamitwebprj.core.model.Header"
        style="position: relative;z-index: 10;top: 0;">
    <div class="header-slider-progress"></div>
    <div class="header-inner"><a class="header-brand" href="/content/axamit-web-prj/BasePageByEditable.html"><span
            class="screen-reader">AXAMIT logo</span>
        <div class="axamit-sprite axamit-sprite-logo-v1"
             style="background-image: url('${header.logoImg@context='styleString'}')"></div>
        <div class="axamit-sprite axamit-sprite-logo-footer-v1"></div>
    </a>
        <div class="links links-wide" data-sly-list.pages="${header.pages}">
            <a data-menuactivation="${pages.title}" href="${pages.path @ extension='html'}" class="">${pages.title}
                <span class="axamit-sprite axamit-sprite-menu-bullet"
                      style="vertical-align: middle; margin-bottom: 4px" data-sly-test.hasChild="${pages.listChildren}"></span>
                <span class="axamit-sprite axamit-sprite-menu-bullet-bw"
                      style="vertical-align: middle; margin-bottom: 4px" data-sly-test.hasChild="${pages.listChildren}"></span>
            </a>
            <div class="dropdown-content s-dropdown--${pages.title}" style="right: 40px" data-sly-test.hasChild="${pages.listChildren}">
                <div class="col s-highlight">
                    <div class="link-block-inner">
                        <div class="s-thumb-container">
                            <a data-menuactivation="${pages.title}" href="${pages.path @ extension='html'}"></a>
                        </div>
                        <div class="s-header" data-sly-list.childList="${pages.listChildren}">
                            <a data-menuactivation="${childList.title}"
                               href="${childList.path @ extension='html'}">${childList.title}</a>
                        </div>
                    </div>
                </div>
                <div class="col s-highlight"></div>
                <div class="col s-highlight"></div>
            </div>
        </div>
    </div>
</header>