<div class="axamit-slider-v1" role="banner" data-sly-use.carousel="com.axamit.axamitwebprj.core.model.Carousel">
    <div data-thumb="${slide['slideDownLogo']}"
         class="slide-container slide-container-${slideList.count} ${slideList.first?'active':''}"
         style="background-image: url('${slide['slideImg']@context='styleString'}')"
         data-sly-repeat.slide="${carousel.slideList}">
        <div class="overlay">
            <div class="header">
                <h1 style="height: auto;">${slide['slideTitle']}</h1><br>
                <h2 style="height: auto;">
                    <span>${slide['slideDescription']}</span>
                    <a href="${slide['slideUrl']@extension='html'}"
                       class="link-turbo axamit-learn-more firstBtn">${slide['slideTitle']}</a>
                    <a href="${slide['slideUrl']@extension='html'}" class="link-turbo axamit-learn-more secondBtn">
                        <span class="screen-reader">Learn More</span>
                        <i class="fa fa-chevron-right"></i></a></h2>
            </div>
            <div class="s-solution-partner-badge s-ad-badge">
                <img src="${slide['slideDownLogo']}" class="solution-partner-badge" alt="Solution partner">
            </div>
        </div>

        <div class="slider-button slider-button-previous">❮</div>
        <div class="slider-button slider-button-next">❯</div>
        <div class="slider-progress"></div>
    </div>
</div>