header>.header-inner {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    width: 95%;
    height: 54px;

}
header>.header-inner>.header-brand {
    position: absolute;
    top: 19px;
    left: 0;
}
.screen-reader {
    clip: rect(1px,1px,1px,1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
header>.header-inner>.header-brand>.axamit-sprite.axamit-sprite-logo-v1 {
    display: inline-block;
}
header>.header-inner>.header-brand>.axamit-sprite.axamit-sprite-logo-footer-v1 {
    display: none;
}