<div class="footer-v1" data-sly-use.footer="com.axamit.axamitwebprj.core.model.Footer">

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-4" role="contentinfo">
                    <p>${properties.copyright}</p>
                </div>
                <div class="col-xs-8" role="navigation">
                    <p class="policy" data-sly-list.links="${footer.links}">
                        <a href="${links['url'] @ extension='html'}">${links['urlName']}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

