
<div data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap></div>

<div data-sly-resource="${@path='par-footer', resourceType='wcm/foundation/components/iparsys'}"></div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.css @ categories='axamit.all'}"/>


<sly data-sly-resource="${@ resourceType='axamit-web-prj/components/structure/header', selectors='include'}"></sly>



<h1>Axamit Web PRJJJ</h1>


<sly data-sly-resource="${@ resourceType='axamit-web-prj/components/structure/footer', selectors='include'}"></sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.js @ categories='axamit.all'}"/>
